.LoginContainer{
    min-height: 90vh;
}
.rowsWhite{
   transform: translateY(60px);
}
.alertErrors{
    padding: 0px !important;
    padding-left: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.alertErrors small{
    font-size: 15px;
    text-align: center !important;
}
.form{
    padding: 0 !important;
    padding-left: 40px !important;
    padding-right: 60px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
box-shadow:2px 4px 10px 1px rgba(201,201,201,0.47) ;

}
.title{
    font-family:  "poppin" sans-serif;
    font-size: 20px;
}
.title span{
    color: rgb(28, 29, 34);
    -webkit-text-stroke: 0.5px red; 
}
.registerpage{
    margin-bottom: 20px;
    text-align: center;
}
.container{
    padding: 0 !important;
    /* margin: 0 !important; */
    
  
}
.whitecolor{
    background: linear-gradient(rgb(218, 211, 211),rgb(225, 236, 217),rgb(192, 159, 159)),url("/");
}
.message{
    font-size: 18px;
}

@media (max-width:500px) and (min-width:12px) {
    .title{
        font-family:  "poppin" sans-serif;
        font-size: 18px;
    }
    .registerpage{
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }
    .form{
        padding: 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    
    }
}